<div class="d-flex justify-content-between align-items-center py-2 mx-4">

    <div>
        <i class="fa-solid fa-bars fs-2 clickable"></i>
    </div>



    <div class="my-search-div d-flex w-75 my-border rounded-2 align-items-center h-100">
        <form class="d-flex w-100" role="search">
            <div class="d-flex w-100 py-1 ">

                <input class="form-control my-search-input my-search-input-admin" type="search" placeholder="Enter keywords to search..." aria-label="Search">

            </div>
            <button class="my-search-btn px-3" type="submit"><i class="bi bi-search fs-4"></i></button>

        </form>
    </div>
    <i class="fa-solid fa-bell fs-2 clickable " style="color: #8d8d99;"></i>
    <i class="fa-solid fa-message fs-2 clickable " style="color: #8d8d99;"></i>
    <i class="fa-solid fa-user fs-2 clickable " style="color: #8d8d99;"></i>

</div>