<div class="p-4 sidebar-container bg-white w-25">
    <ul class="list-unstyled ps-0 pb-5  d-flex flex-column h-75 my-side-ul" id="test1">

        <li class="mb-3">
            <div>
                <a class="navbar-brand mb-4" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/logo6.jpg" style="width:130px;height:50px;" alt=""></a>
            </div>
        </li>


        <li class="mb-1">
            <button class="btn btn-toggle my-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-5" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Dashboard
            </button>
            <div class="collapse" id="dashboard-collapse" data-bs-parent="#test1">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-inner-side-ul">
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">Overview</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">Weekly</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">Monthly</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">Annually</a></li>
                </ul>
            </div>
        </li>


        <li class="mb-1">
            <button class="btn btn-toggle my-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-5" data-bs-toggle="collapse" data-bs-target="#categories-collapse" aria-expanded="false">
                Categories
            </button>
            <div class="collapse" id="categories-collapse" data-bs-parent="#test1">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-inner-side-ul">
                    <li>
                        <a asp-area="Admin" asp-controller="Category" asp-action="Add" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">
                            Add new</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Category" asp-action="ViewAll" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">
                            View all</a>
                    </li>
                </ul>
            </div>
        </li>


        <li class="mb-1">
            <button class="btn btn-toggle my-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-5" data-bs-toggle="collapse" data-bs-target="#product-collapse" aria-expanded="false">
                products
            </button>
            <div class="collapse" id="product-collapse" data-bs-parent="#test1">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-inner-side-ul">
                    <li>
                        <a asp-area="Admin" asp-controller="Product" asp-action="Add" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">
                            Add new product</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Product" asp-action="ViewAll" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">
                            View all products</a>
                    </li>
                </ul>
            </div>
        </li>



        <li class="mb-1">
            <button class="btn btn-toggle my-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-5" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Orders
            </button>
            <div class="collapse" id="orders-collapse" data-bs-parent="#test1">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-inner-side-ul">
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">New</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">Processed</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">Shipped</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">Returned</a></li>
                </ul>
            </div>
        </li>

        @* <li class="border-top my-3"></li>
        <li class="mb-1">
        <button class="btn btn-toggle my-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-5" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
        </button>
        <div class="collapse" id="account-collapse" data-bs-parent="#test1">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-inner-side-ul">
        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">New...</a></li>
        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">Profile</a></li>
        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">Settings</a></li>
        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded fs-6 fw-semibold">Sign out</a></li>
        </ul>
        </div>
        </li> *@
    </ul>
</div>