<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <partial name="_Allcss" />
    </head>
    <body>

    @RenderBody()

    <partial name="_Alljs" />
    </body>
</html>