
:root {
    --my-primary-color: #7D5BB8;
}

* {
    font-family: 'Barlow', sans-serif;
    margin: 0px;
}

/* 

nav{
    position: absolute;
    animation-name: updown;
    animation-duration: 1;
    animation-iteration-count: infinite;
}

@keyframes updown {
    0%{
        transform: translateY(0%);
    }
    
    100%{
        transform: translateY(-10px);
    }
    0%{
        transform: translateY(0%);
    }
} */


.my-border {
    border: 2px solid var(--my-primary-color);
}

.my-search-input {
    margin-left: 20px;
    border-radius: 0%;
    border-left: 1px solid #e5e5e5 !important;
    border-top: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
}

.my-search-input:focus,
.cat-select:focus {
    outline: none !important;
    box-shadow: none !important;
}


.my-search-btn {
    border: none;
    background-color: transparent;
    transition-duration: 0.3s;
}

.my-search-btn:hover {
    background-color: var(--my-primary-color);
    color: white;
}

.icon-wrapper {
    overflow: hidden;
    width: 40px;
    height: 40px;
}


.dropdown {
    cursor: pointer;
}

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.6s !important;
    padding: 0px;
}

.dropdown:hover .dropdown-menu {

    animation-name: animate;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.dropdown-item {
    padding: 10px;
    border: 1px solid transparent;
}

.dropdown-item:focus,
.dropdown-item.active {
    background-color: #f9f9f9;
}

.dropdown-item:hover {
    border-left: 4px solid var(--my-primary-color);
    color: var(--my-primary-color);
}

@keyframes animate {
    0% {
        visibility: visible;
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        visibility: visible;
        transform: translateY(0px);
        opacity: 1;
    }
}


.cat-select {
    font-size: 0px;
    transition-duration: 0.5s;
}

.cat-select:hover,
body:has(.my-search-div:hover) .cat-select,
body:has(.my-search-input:hover) .cat-select,
body:has(.my-search-btn:hover) .cat-select {
    font-size: 16px;
}


.nav-left{
    background-color: transparent;
}

/* .nav-left-inner{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

} */


.nav-left-inner{
    background: radial-gradient(ellipse farthest-corner at left bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at right top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    background-size: 100% 100%;
    animation: spin 1s linear infinite;

}


.display-me-none{
    visibility: hidden;
}



.sidebar-container {
    position: absolute;
    height: 75vh; /* Adjust the height as needed */
    overflow-y: auto;
    background-color: #f6f6f6;
    width:30vw;
    height:100vh;
    /* transform: translateX(-385px); */
}

.sidebar-container::-webkit-scrollbar-corner {
    /* display: none; */
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    /* display: none; */
    border-radius: 50%;
}



.my-side-ul{
    gap:15px;
}


.my-side-ul li > button{
    font-size: 19px;
}

.my-inner-side-ul li{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 65%;
}

.my-inner-side-ul li a{
    opacity: 0.5;
    font-size: 15px;
    width: 100%;
    padding: 8px 10px 8px 10px;
    outline: 2px solid transparent;
    font-weight: 800;
    transition: 0.2s;
}

.my-inner-side-ul li:hover a{
    outline: 2px solid #e3e3e3;
    opacity: 1;
}
.my-toggle{
    font-size: 16px;
    width: 70%;
}

