
:root {
    --my-primary-color: #7D5BB8;
}

* {
    font-family: 'Barlow', sans-serif;
    margin: 0px;
}



/* 

nav{
    position: absolute;
    animation-name: updown;
    animation-duration: 1;
    animation-iteration-count: infinite;
}

@keyframes updown {
    0%{
        transform: translateY(0%);
    }
    
    100%{
        transform: translateY(-10px);
    }
    0%{
        transform: translateY(0%);
    }
} */


.my-border {
    border: 2px solid var(--my-primary-color);
}

.my-search-input {
    margin-left: 20px;
    border-radius: 0%;
    border-left: 1px solid #e5e5e5 !important;
    border-top: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
}

.my-search-input:focus,
.cat-select:focus {
    outline: none !important;
    box-shadow: none !important;
}


.my-search-btn {
    border: none;
    background-color: transparent;
    transition-duration: 0.3s;
}

.my-search-btn:hover {
    background-color: var(--my-primary-color);
    color: white;
}

.icon-wrapper {
    /* overflow:auto; */
    width: 40px;
    height: 40px;
}


.dropdown {
    cursor: pointer;
}

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.6s !important;
    padding: 0px;
}

.dropdown:hover .dropdown-menu {

    animation-name: animate;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.dropdown-item {
    padding: 10px;
    border: 1px solid transparent;
}

.dropdown-item:focus,
.dropdown-item.active {
    background-color: #f9f9f9;
}

.dropdown-item:hover {
    border-left: 4px solid var(--my-primary-color);
    color: var(--my-primary-color);
}

@keyframes animate {
    0% {
        visibility: visible;
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        visibility: visible;
        transform: translateY(0px);
        opacity: 1;
    }
}


.cat-select {
    font-size: 0px;
    transition-duration: 0.5s;
}

.cat-select:hover,
body:has(.my-search-div:hover) .cat-select,
body:has(.my-search-input:hover) .cat-select,
body:has(.my-search-btn:hover) .cat-select {
    font-size: 16px;
}


.nav-left{
    background-color: transparent;
}

/* .nav-left-inner{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

} */


.nav-left-inner{
    background: radial-gradient(ellipse farthest-corner at left bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at right top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-size: 100% 100%;
    animation: spin 1s linear infinite;

}


.display-me-none{
    visibility: hidden;
}



.my-cart {
    position: relative;
}

.my-cart-dialouge {
    position: absolute;
    z-index: -2;
    background-color: white;
    left: -300px;
    min-height: 130px;
    width: 400px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .1);
    text-align: center;
    transform: translateY(-25px);
    transition: z-index 0s , background-color 0s, transform 0.6s, opacity 0.6s;
    visibility: hidden;
    opacity: 0;
}



.my-cart:hover .my-cart-dialouge{
    z-index: 3;
    visibility: visible;
    transform: translateY(15px);
    opacity: 1;
    
}


.pmnt-btn{
    background-color: #444;
    color:white;
    font-size:larger;
    border : none;
    padding: 10px;
    margin-top: 20px;
}

.pmnt-btn:hover{
    background-color: #333;
}


.cart-details-sm{
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.cart-inner-details{
    padding: 15px;
    text-align: start;
}

.cart-inner-details p{
    margin: 4px 0px;
}


.vedit-btn{
    background-color: #bbb;
    font-size:medium;
    border : none;
    padding: 7px;
    margin-top: 20px;

}

.update-amount-btn{
    border: none;
    background-color: #999;
    padding: 5px;
    color: white;
}

.update-amount-btn:hover{
    background-color: #666;

}